<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task 8: D&D Stats Randomizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:each="statRoll : ${statRollsList}">
    <a th:text="${statRoll.resultValue}"></a>
</div>

<h1>Crappy output of randomized attributes here:</h1>
<p id="crappyOutput" >This text will be replaced. It doesn't want to. It doesn't have a choice.</p>
<button id="rerollButton" >Reroll</button>

<script th:inline="javascript">
    var rerollButton = document.getElementById("rerollButton");
    var crappyOutput = document.getElementById("crappyOutput");
    rerollButton.onclick = function(e){
        fetch("/reroll", {method:"POST"})
            .then( response => response.text() )
            .then( text => text.replaceAll("\\n", "<br/>"))
            .then( text => crappyOutput.innerHTML = text)
        ;
    }
</script>

</body>
</html>